@media (max-width: 767px) {
  .portfolio_container {
    display: flex;
    flex-wrap: wrap; /* Allow project boxes to wrap to new line */
    justify-content: center;
  }
  .project_box {
    width: 90%; /* Adjust the width as needed */
    margin: 0 auto 20px; /* Center horizontally with margin below each box */
  }
  .project_box h4 {
    text-align: center; /* Center the heading */
  }
  .project_box img {
    max-width: 100%; /* Make sure images don't exceed their container */
  }
}






